---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ProjectCard from "@components/ProjectCard.astro";
import BackToHome from "@components/BackToHome.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
    .filter((project) => !project.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
    <Container>
        <div class="space-y-10">
            <BackToHome>Back</BackToHome>
            <div
                class="animate font-semibold text-2xl text-black dark:text-white pt-6"
            >
                Projects
            </div>
            <p>A few of the interesting technical endeavours that I pursued.</p>
            <ul class="animate grid grid-cols-1 sm:grid-cols-2 gap-4">
                {
                    projects.map((project) => (
                        <li>
                            <ProjectCard entry={project} />
                        </li>
                    ))
                }
            </ul>
        </div>
    </Container>
</PageLayout>
